<launch>

    <arg name="number" default="0" />
    <arg name="gazebo_uri" default="localhost:11345"/>

    <group ns="worker$(arg number)">
        <remap from="/clock" to="/worker$(arg number)/clock"/>
        <env name="GAZEBO_MASTER_URI" value="$(arg gazebo_uri)"/>
        <node name="walk_worker" pkg="parallel_parameter_search" type="walk_worker.py" respawn="false" output="screen"/>

    </group>
</launch>
